<div ng-if="hideResults" style="width:1020px;text-align:center;margin-left:auto;margin-right:auto;" >

    <div  ng-repeat="hotel in hotels" style="cursor: pointer;" ng-click="selectResult(hotel)">
        <div class="resultadosBig" ng-if="$index == 0">
            <h2 id="text"><span>{{hotel.name}}</span></h2>
            <img src="{{hotel.fotoPrincipal!=null?hotel.fotoPrincipal:hotel.pictures[0]}}">
        </div>
        <div class="resultados" ng-if="$index > 0">
            <h2 id="text"><span>{{hotel.name}}</span></h2>
            <img src="{{hotel.fotoPrincipal!=null?hotel.fotoPrincipal:hotel.pictures[0]}}">
        </div>
    </div>
    <div style="clear: both"></div>

    <button ng-click="masResultados()" ng-hide="showMostrarMas" class="btn-reserva" style="float:right;">Más Resultados</button>
    <div ng-show="showMostrarMas">
        <br>
        <img src="../img/lblue.gif"  style="width:30px;height:30px;">
    </div>
	
	

</div>



<div ng-show="showDetail" class="hotelDetail">
	
	<div class="contenedor clearfix">
		
		<div id="flx-sldr" class="clearfix col-55">
			<flex-slider slide="pic in currentHotel.pictures" animation="slide" slideshow="true" control-nav="false" animation-loop="false" slideshow="false" slideshowSpeed="3000">
				<li >
					<img ng-src="{{pic}}">
				</li>
			</flex-slider>
		</div>
		
		
		<div id="descripcion-hotel" class="col-40" >
			<h1 class="htl-name">{{currentHotel.name}}</h1>
			<div class="hotel-desc" ng-cloak ng-show="currentHotel.infoExtra==null || currentHotel.infoExtra.length==0">{{currentHotel.description}}</div>
			<div ng-cloak ng-show="currentHotel.infoExtra!=null && currentHotel.infoExtra.length>0">
				<table class="detalleHotel tablaDetalle" cellspacing="25" >
					<tr>
						<td>Total de Habitaciones</td>
						<td>886</td>
					</tr>
					<tr>
						<td>Total de Suites</td>
						<td>74</td>
					</tr>
					<tr>
						<td>Habitaciones Una Cama</td>
						<td>568</td>
					</tr>
					<tr>
						<td>Habitaciones Dos Camas</td>
						<td>318</td>
					</tr>
					<tr>
						<td>Total de Salones</td>
						<td>14</td>
					</tr>
					<tr>
						<td>Total Metros Cuadrados</td>
						<td>2322</td>
					</tr>
					<tr>
						<td>Salon Más Grande (Mts2)</td>
						<td>1352.74</td>
					</tr>
					<tr>
						<td>Máxima Capacidad en Salón (Pax)</td>
						<td>1800</td>
					</tr>
					<tr>
						<td>Plan</td>
						<td>Todo Incluido</td>
					</tr>
				</table>
			</div>
			
		</div>
      
	</div>
	<div ng-if="currentHotel.salones!=null && currentHotel.salones.length > 0" class="full-width clearfix pad-top-0" style="text-align:center;">
		<h2>Información de Salones</h2>
		<hr class="style-round" style="width:70%;margin-left:15%;">
	<p>
				<table class="row header detalleHotel" cellspacing="10">
					<thead>
						<th><br>Salón</th>
						<th><br>Tamaño</th>
						<th><br>Alto</th>
						<th><br>Ancho</th>
						<th><br>Herradura</th>
						<th><br>Banquete</th>
						<th><br>Coctel</th>
						<th><br>Escuela</th>
						<th><br>Auditorio</th>
						<th><br>1/2 Luna</th>
						<th><br>Imperial</th>
					</thead>
					<tbody>
						<tr ng-repeat="sal in currentHotel.salones">
							<td>{{sal.nombre}}</td>
							<td>{{sal.tamano}}</td>
							<td>{{sal.alto}}</td>
							<td>{{sal.ancho}}</td>
							<td>{{sal.herradura}}</td>
							<td>{{sal.banquete}}</td>
							<td>{{sal.coctel}}</td>
							<td>{{sal.escuela}}</td>
							<td>{{sal.auditorio}}</td>
							<td>{{sal.medialuna}}</td>
							<td>{{sal.imperial}}</td>
						</tr>
					</tbody>
				</table>
			</p>
	</div>
	<div style="width:80%;margin-left:10%">
		<h2>Ubicación</h2>
		<hr class="style-round">

	</div>
	<div class="full-width clearfix pad-top-0">

		<div id="cd-google-map">
			<!-- #google-container will contain the map  -->
			<div id="google-container"></div>
			<!-- #cd-zoom-in and #zoom-out will be used to create our custom buttons for zooming-in/out -->
			<div id="cd-zoom-in"></div>
			<div id="cd-zoom-out"></div>
		</div>
	</div>
	<br>
	<br>
	<div >
		<div>
			<div id="reviews-hotel"  style="float:left;width:70%;margin-left:15%">
				<h2>Video de la Propiedad</h2>
				<hr class="style-round">
				<div>
			<iframe ng-if="showDetail" width="100%" height="500" src="//www.youtube.com/embed/9GdVZfIBvxQ?controls=1" frameborder="0" allowfullscreen=""></iframe>
		</div>
			</div>
		</div>
	</div>
	
<div style="clear:both"/>
<br><br>
<div style="width:80%;margin-left:10%">
		<h2>Redes sociales</h2>
		<hr class="style-round">

	</div>
<div class="contenedor">
	<div class="blog clearfix">
		<div class="col-3 articulo-blog">
			<div class="img-articulo-container">
                <a target="_blank" href="http://www.yoplanner.com.mx/blog/hotelesygoogle/"><img src="blog01.png"></a>
			</div>
			<div class="text-articulo-container articulo-container-1">
				<a href="#" class="titulo-articulo">¿Por qué los hoteles deben usar Google+?</a>
				<p class="articulo-texto">Soy relativamente nuevo en Google+ y cada día me gusta más que las otras redes sociales que  tradicionalmente usamos todos los días. He leído varios artículos donde se comenta que Google+ es la red fantasma que nadie usa pero nos hemos puesto a pensar[…]</p>
				</div>
		</div>
		<div class="col-6 articulo-blog">
			
			<div >
				<div class="col-40" id="gp-content">
				
				</div>
			</div>
		</div>
		<div class="col-3 articulo-blog">
		<div class="img-articulo-container">
			<a target="_blank" href="http://www.yoplanner.com.mx/blog/top-10-lugares-para-reuniones-y-eventos-en-los-cabos"><img src="blog03.png"></a>
		</div>			
		<div class="text-articulo-container articulo-container-2">
			<a href="#" class="titulo-articulo">Top 10 Lugares Para Reuniones y Eventos en Los Cabos</a>
			<p class="articulo-texto">Victor Hernández. Director of Public Relations AM&I Los Cabos D.M.C Los Cabos está aumentando en popularidad como anfitrión para reuniones corporativas. Su combinación única de hermosos paisajes y una gran variedad de actividades lo convierten en la ubicación[…]</p>
			</div>
		</div>
	</div>
	<!--div class="contenedor redes-youtube clearfix">
		
		<div class="col-30">
			<div class="redes-sociales">
				<h2 class="white">Síguenos en nuestras redes sociales</h2>
				<div class="clearfix contenedor-iconos">
					<ul class="social">	
						<li><a target="javascript:void(0)" href="https://twitter.com/yoplanner" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false"><img src="/img/twitter.png"></a></li>
						<li><a target="javascript:void(0)"  href="//facebook.com/yoplanner"><img src="/img/fb.png"></a></li>
						<li><a target="javascript:void(0)"  href="https://plus.google.com/113624413123385492768?prsrc=3"
   rel="publisher" target="_top" style="text-decoration:none;">
<img src="/img/g+.png" alt="Google+" />
</a></li>
<li><a target="javascript:void(0)"  href="//www.youtube.com/channel/UCqCEySy6lNMhn6KlPAtcddg"><img src="/img/yt.png"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div-->
</div>

</div>


