<!-- Section Title-->
<br><br>
<div class="content-central">
  <!-- Slide And Filter Section-->
  <section class="tp-banner-container" style="max-height: 650px;">
    <!-- SLIDE  -->
    <div class="tp-banner">
      <!-- SLIDES CONTENT-->
      <ul>
        <!-- SLIDE  -->
        <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">
          <!-- MAIN IMAGE -->
          <img src="img/slide/00.jpg" alt="fullslide1" data-bgposition="center center" data-kenburns="on" data-duration="4000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
          <!-- LAYERS -->
        </li>
        <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">
          <!-- MAIN IMAGE -->
          <img src="img/slide/slideotra.jpg" alt="fullslide1" data-bgposition="center center" data-kenburns="on" data-duration="4000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
          <!-- LAYERS -->
        </li>
        <!-- SLIDE  -->
        <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">
          <!-- MAIN IMAGE -->
          <img src="img/slide/001.jpg" alt="fullslide1" data-bgposition="top center" data-kenburns="on" data-duration="4000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
          <!-- LAYERS -->
        </li>
        <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">
          <!-- MAIN IMAGE -->
          <img src="img/slide/slideotra2.jpg" alt="fullslide1" data-bgposition="center center" data-kenburns="on" data-duration="4000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
          <!-- LAYERS -->
        </li>
      </ul>
      <!-- END SLIDES  -->
      <div class="tp-bannertimer"></div>
    </div>
    <!-- SLIDE CONTENT-->

    <!-- FILTER HEADER - TITLE HEADER-->
    <div class="filter-title" style="padding-top: 20px;">
      <!-- TITLE HEADER-->
      <div class="title-header">
        <h1 style="font-size: 3em;">Encuentra los mejores hoteles para grupos</h1>
        <p class="lead" style="font-weight: 500;text-shadow: 2px 3px 3px rgba(0,0,0,1);">La manera más fácil de buscar proveedores para tus grupos, convenciones, eventos en cualquier destino y hotel.</p>
      </div>
      <div class="visible-xs text-center">
        <h1 style="font-size: 3em; color: white; text-shadow: 2px 3px 3px rgba(0,0,0,1);">Encuentra los mejores hoteles para grupos</h1>
        <p class="lead" style="color: white;font-weight: 500;text-shadow: 2px 3px 3px rgba(0,0,0,1);">La manera más fácil de buscar proveedores para tus grupos, convenciones, eventos en cualquier destino y hotel.</p>
      </div>
      <!-- END TITLE HEADER-->

      <!-- FILTER HEADER-->
      <div class="filter-header col-sm-10 col-md-6 col-centered hidden-xs" ng-controller="AutocompleteController" style="overflow:visible;">
        <form action="#">
          <autocomplete ng-model="searchString" data="cities" on-type="findCities" on-select="searchCity" attr-placeholder="Encuentra Destinos y Hoteles"></autocomplete>
          <img src="img/lblue.gif" style="width:30px;height:30px;" ng-show="showLoader || false" class="ng-hide">
        </form>
      </div>
    </div>
    <!-- END FILTERHEADER - TITLE HEADER -->
  </section>
  <!-- End Slide And Filter Section-->

  <!--Content Central -->
  <section class="content-central" ng-controller="HomePageController">
    <!-- Shadow Semiboxed Layout -->
    <div class="semiboxshadow text-center">
      <img src="img/img-theme/shp.png" class="img-responsive" alt="">
    </div>
    <!-- End Shadow Semiboxed Layout -->
    <!-- End content - Slide Features-->
    <div class="content_info content_resalt">
      <!-- content-->
      <div class="container" style="margin-top: 3em;">
        <div class="row">
          <div class="col-xs-12 filter-header visible-xs" ng-controller="AutocompleteController" style="overflow:visible; margin-bottom: 1em;">
            <autocomplete ng-model="searchString" data="cities" on-type="findCities" on-select="searchCity" attr-placeholder="Encuentra Destinos y Hoteles"></autocomplete>
            <img src="img/lblue.gif" style="width:30px;height:30px;" ng-show="showLoader || false" class="ng-hide">
          </div>
          <!-- Info Resalt - Info Services -->
          <div class="col-md-5 col-xs-12">
            <div class="services-lines-info">
              <!-- h2>We Provide You An Ultimate Travel Experience</h2 -->
              <h1>Únete a la comunidad de profesionales en la industria de grupos y eventos</h1>
              <p class="lead">
                <span class="line"></span>
              </p>

              <p><strong>La única plataforma en línea y en español donde tú como experto tienes la habilidad de calificar y comentar miles de hoteles, destinos y proveedores, así como de accesar a contenido exclusivo y convertirte en líder de opinión
en nuestra industria.</p>
              <br>
            </div>
          </div>

          <div class="col-md-7 col-xs-12">
            <iframe style="width:100%;height:400px;"
            src="https://www.youtube.com/embed/2hHD1q-sf7Q">
            </iframe>
          </div>
        </div>
      </div>

    </div>
    <!-- End content - Slide Features-->
    <!-- End content info - Sponsors-->
    <div class="content_info">
      <!-- Title -->
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center" style="margin-top: 1em;">
            <h2>En Alianza Con:</h2>
          </div>
          <div class="col-md-12" style="text-align: center;">
            <a href="http://www.meetlam.com/" target="_blank"><img src="/image/logo-lam.jpeg" alt="Logo Lam" style="width: 50%;"></a>
            <hr class="tall">
          </div>
          <!--
          <div class="titles">
            <h2>Nuestros <span>Usuarios</span></h2>
            <i class="fa fa-plane"></i>
            <hr class="tall">
          </div> -->
        </div>
      </div>
      <!-- End Title-->

      <!-- content-->
      <!-- <div class="container">
        <div class="row padding-bottom">
          <div class="col-md-12 text-center">
            <h3>Nuestros <strong>Usuarios:</strong></h3>
            </div>
            <div class="col-md-12">
              <ul id="sponsors" class="tooltip-hover">
                <li data-toggle="tooltip" title data-original-title="YoPlanner Solutions">
                  <a href="#"><img src="image/cliente1final.png" alt="Image" class="img-responsive"></a>
                </li>
                <li data-toggle="tooltip" title data-original-title="TT Events">
                  <a href="#"><img src="image/cliente2final.jpg" alt="Image" class="img-responsive" style="margin-left: 2em;"></a>
                </li>
                <li data-toggle="tooltip" title data-original-title="Globar Star Group">
                  <a href="#"><img src="image/cliente3final.png" alt="Image" class="img-responsive" style="margin-left: -2em;"></a>
                </li>
                <li data-toggle="tooltip" title data-original-title="Vivir Mexico">
                  <a href="#"><img src="image/cliente4.jpg" alt="Image" class="img-responsive" style="margin-left: 2em;"></a>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
      <!-- End content info - Sponsors-->
      <div class="content_info" ng-init="getLastFive()">
        <!-- Parallax Background -->
        <div class="bg_parallax image_02_parallax"></div>
        <!-- Parallax Background -->

        <div class="opacy_bg_02">
          <!-- Testimonial Propertie-->
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="info-testimonial">
                  <ul id="testimonials">
                    <li ng-repeat="comentario in lastFiveComments">
                      <p><i class="fa fa-quote-left"></i>{{comentario.text | limitTo:200}}<i class="fa fa-quote-right"></i></p>

                      <div class="image-testimonials">
                        <img ng-src="{{comentario.user.avatar}}" alt="">
                      </div>
                      <h4>{{comentario.user.name || comentario.user.fullName || comentario.user.username}}</h4>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-md-8">
                <div class="testimonial-info">
                  <h2>Últimos Comentarios</h2>
                  <P>Conoce los últimos comentarios en nuestra plataforma.</P>
                </div>
              </div>
            </div>
          </div>
          <!-- End Testimonial Propertie-->
        </div>
      </div>
      <!-- End content info - testimonials-->
  </section>
  <!-- End Content Central -->
  </div>

  <!--Slider Function-->
  <script type="text/javascript">
    $(document).ready(function() {
      //=================================== Carousel features  ==================================//
      $("#slide-features-2").owlCarousel({
        autoPlay: true,
        items: 1,
        navigation: true,
        autoHeight: true,
        slideSpeed: 400,
        singleItem: true,
        pagination: true
      });
      // Slider Function-->
      $('.tp-banner').show().revolution({
        dottedOverlay: "none",
        delay: 5000,
        startwidth: 1170,
        startheight: 925,
        minHeight: 500,
        navigationType: "none",
        navigationArrows: "solo",
        navigationStyle: "preview1"
      });
      // End Slider Function-->
      $('html, body').animate({
        scrollTop: 0
      }, 500, 'linear');
    }); //ready
  </script>
  <!--End Slider Function-->
