<style media="screen">
  .iframe-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background: url('/image/bodas1.jpg') no-repeat center center;
    background-size: cover;
  }
  .text-container {
    text-align: center;
  }
  .text-container h1 {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.84);
  }
  .text-container p {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  }
</style>
<div class="iframe-container" ng-init="isBodas = true">
  <div class="text-container">
    <div class="image-container" style="text-align: right;margin-top:5rem;margin-right:5rem;">
      <img src="/image/corporate-member.png" alt="Corporate Member" style="width: 15%; margin-left: auto; margin-bottom: 1rem;">
    </div>
    <h1>Encuentra hoteles, recintos y provedores para bodas y eventos</h1>
    <p class="lead">Se parte de la comunidad de wedding planners y compradores de eventos, consulta, califica y comparte tu experiencia en nuestra exclusiva plataforma.</p>
    <div class="filter-header" ng-controller="AutocompleteController" style="overflow:visible;">
      <form action="#" style="text-align: center;" ng-init="isWidget = true">
        <autocomplete ng-model="searchString" data="cities" on-type="findCities" on-select="searchCity" attr-placeholder="¿Qué destino quieres buscar?"></autocomplete>
        <img src="img/lblue.gif" style="width:30px;height:30px;" ng-show="showLoader || false" class="ng-hide">
      </form>
    </div>
  </div>
</div>
