<div class="row">
  <div class="col-md-12">
    <img src="/image/a.jpg" class="img-responsive" style="display: block; margin: 0 auto;" />
  </div>
  <div class="col-md-12">
    <img src="/image/yoplanner-widget1.png" class="img-responsive" style="display: block; margin: 0 auto;" />
  </div>
</div>
<div class="filter-header col-sm-12 col-md-12" ng-controller="AutocompleteController" style="overflow:visible;">
  <form action="#" style="text-align: center;" ng-init="isWidget = true">
    <autocomplete ng-model="searchString" data="cities" on-type="findCities" on-select="searchCity" attr-placeholder="Ingresa tu destino"></autocomplete>
    <img src="img/lblue.gif" style="width:30px;height:30px;" ng-show="showLoader || false" class="ng-hide">
  </form>
</div>
