
              <!-- Slide And Filter Section-->    
              <section class="tp-banner-container">
                <!-- SLIDE  -->
                <div class="tp-banner" >
                  <!-- SLIDES CONTENT-->
                  <ul> 
                    <!-- SLIDE  -->
                    <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
                      <!-- MAIN IMAGE -->
                      <img src="img/slide/01.jpg"  alt="fullslide1" data-bgposition="center center" data-kenburns="on" data-duration="4000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
                      <!-- LAYERS -->
                    </li>

                    <!-- SLIDE  -->
                    <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
                      <!-- MAIN IMAGE -->
                      <img src="img/slide/03.jpg"  alt="fullslide1" data-bgposition="top center" data-kenburns="on" data-duration="4000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
                      <!-- LAYERS -->
                    </li>
                    
                    <!-- SLIDE  -->
                    <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
                      <!-- MAIN IMAGE -->
                      <img src="img/slide/04.jpg"  alt="fullslide1" data-bgposition="left center" data-kenburns="on" data-duration="6000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
                      <!-- LAYERS -->
                    </li>
                    
                    <!-- SLIDE  -->
                    <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
                      <!-- MAIN IMAGE -->
                      <img src="img/slide/11.jpg"  alt="fullslide1" data-bgposition="left center" data-kenburns="on" data-duration="6000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
                      <!-- LAYERS -->
                    </li>
                  </ul> 
                  <!-- END SLIDES  --> 
                  <div class="tp-bannertimer"></div>  
                </div>
                <!-- SLIDE CONTENT-->

                <!-- FILTER HEADER - TITLE HEADER-->
                <div class="filter-title">
                  <!-- TITLE HEADER-->
                  <div class="title-header">
                    <h1>¡YO PLANNER LO HACE POR TI!</h1>
                    <p class="lead" style="font-weight: 500;text-shadow: 2px 3px 3px rgba(0,0,0,1);">Ya sea que necesites cotizar un grupo para tu empresa o quieras un viaje personal, busca por destino los hoteles más populares en todo México.</p>
                  </div>
                  <!-- END TITLE HEADER-->

                  <!-- FILTER HEADER-->
                  <div class="filter-header col-sm-10 col-md-6 col-centered" ng-controller="AutocompleteController" >
                    <form action="#">
                      <autocomplete ng-model="searchString" data="cities" on-type="findCities" on-select="searchCity" attr-placeholder="Ingresa tu destino y cotiza"></autocomplete>
                      <img src="img/lblue.gif" style="width:30px;height:30px;" ng-show="showLoader || false" class="ng-hide">
                    </form>
                  </div>
                  <!-- END FILTER HEADER-->
                </div>
                <!-- END FILTERHEADER - TITLE HEADER -->
              </section>       
              <!-- End Slide And Filter Section-->

            <!--Content Central -->
            <section class="content-central" ng-controller="HomePageController">
                <!-- Shadow Semiboxed Layout -->
                <div class="semiboxshadow text-center">
                    <img src="img/img-theme/shp.png" class="img-responsive" alt="">
                </div>
                <!-- End Shadow Semiboxed Layout -->

                <!-- End content info - Services Items-->
                <div class="content_info">
                    <div class="content_resalt">
                        <div class="container">
                            <div class="row">
                                <!-- Info Resalt - Info Services -->
                                <div class="col-md-4 ">
                                    <div class="services-lines-info">
                                        <h2>Bienvenido a Yo Planner</h2>
                                        <p class="lead" style="font-size: 1.5rem;">
                                            Nosotros lo hacemos por ti
                                            <span class="line"></span>
                                        </p>

                                        <p style="font-size: 1rem;">Empresa mexicana especializada en la organización y planeación tanto de meetings y conferencias para empresas, como de viajes turísticos. </p>
                                    </div>
                                </div>   
                                <!-- End Info Resalt - Info Services --> 

                                <!-- Services Items -->
                                <div class="col-md-8">
                                    <ul class="services-lines">
                                        <li ng-repeat="serviceItem in servicesItems">
                                            <div class="item-service-line" ng-if="serviceItem.stUrl != null && serviceItem.stUrl.trim().length > 0">
                                                <a ui-sref="{{serviceItem.stUrl}}">
                                                    <i class="fa {{serviceItem.icon}}"></i>
                                                    <h5>{{serviceItem.text}}</h5>
                                                </a>
                                            </div>
                                            <div class="item-service-line" ng-if="serviceItem.url != null && serviceItem.url.trim().length > 0">
                                                <a href="{{serviceItem.url}}" target="_blank">
                                                    <i class="fa {{serviceItem.icon}}"></i>
                                                    <h5>{{serviceItem.text}}</h5>
                                                </a>
                                            </div>
                                            <div class="item-service-line" ng-if="(serviceItem.stUrl == null || serviceItem.stUrl.trim().length <= 0) && (serviceItem.url == null || serviceItem.url.trim().length <= 0)">
                                                <i class="fa {{serviceItem.icon}}"></i>
                                                <h5>{{serviceItem.text}}</h5>
                                            </div>
                                        </li>
                                    </ul>
                                </div> 
                                <!-- End Services Items --> 
                            </div>
                        </div>
                    </div>
                </div>   
                <!-- End content info - Services Items --> 

                <!-- End content info - Vacations Destinatios-->
                <div class="content_info">
                    <!-- Title -->
                    <div class="container">
                        <div class="row">
                            <div class="titles">
                                <h2>Destinos populares en <span>México</span></h2>
                                <i class="fa fa-bicycle"></i>
                                <hr class="tall">
                            </div>                    
                        </div>
                    </div>
                    <!-- End Title-->

                    <!-- content-boxes-->
                    <div class="content-boxes">
                        <!-- Item-boxe-->
                        <div class="item-boxed" ng-repeat="popDest in popDestImgInf">
                            <div class="image-boxed">
                                <span class="overlay"></span>
                                <img ng-src="{{popDest.imgSrc}}" alt="" style="width: 307.5px; height: 255px;">
                                <a href="javascript:void(0);" ng-click="redirectLink(popDest.searchId)" class="more-boxe"></a>
                            </div>
                            <div class="info-boxed boxed-top">
                                <h3>
                                    {{popDest.name}}<br>
                                    <!-- span>{{hotel.type + ', ' + hotel.cityId + ', ' + hotel.countryId}}</span -->
                                    <span>{{popDest.destName}}</span>
                                </h3>
                                <hr class="separator">
                                <p>{{(popDest.description.length > 70) ? popDest.description.substr(0,67) + '...' : popDest.description}}</p>
                                <ul class="starts">
                                    <li ng-repeat="i in popDest.starRatingRange track by $index"><a href="#"><i class="fa fa-star"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="javascript:void(0);" ng-click="redirectLink(popDest.searchId)" class="btn btn-primary">Ver Detalles</a></div>
                            </div>
                        </div>
                        <!-- End Item-boxe-->

                        <!-- Item-boxe-->
                        <div class="item-boxed" ng-repeat="popDest in popDestInfImg">
                            <div class="info-boxed boxed-bottom">
                                <h3>
                                    {{popDest.name}}<br>
                                    <!-- span>{{hotel.type + ', ' + hotel.cityId + ', ' + hotel.countryId}}</span -->
                                    <span>{{popDest.destName}}</span>
                                </h3>
                                <hr class="separator">
                                <p>{{(popDest.description.length > 70) ? popDest.description.substr(0,67) + '...' : popDest.description}}</p>
                                <ul class="starts">
                                    <li ng-repeat="i in popDest.starRatingRange track by $index"><a href="#"><i class="fa fa-star"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="javascript:void(0);" ng-click="redirectLink(popDest.searchId)" class="btn btn-primary">Ver Detalles</a></div>
                            </div>
                            <div class="image-boxed image-bottom">
                                <span class="overlay"></span>
                                <img ng-src="{{popDest.imgSrc}}" alt="" style="width: 307.5px; height: 255px;">
                                <a href="javascript:void(0);" ng-click="redirectLink(popDest.searchId)" class="more-boxe"></a>
                            </div>
                        </div>
                        <!-- End Item-boxe-->
                    </div>
                    <!-- End content-boxes-->
                </div>   
                <!-- End content info - Vacations Destinatios--> 

                <!-- End content info - Features-->
                <div class="content_info">
                    <!-- Title -->
                    <div class="container">
                        <div class="row">
                            <div class="titles">
                                <h2>Nuestros <span>Servicios</span><span></span><span></span></h2>
                                <i class="fa fa-plane"></i>
                                <hr class="tall">
                            </div>                    
                        </div>
                    </div>
                    <!-- End Title-->

                    <!-- content-->
                    <div class="container">
                        <div class="row padding-bottom">
                            <div class="col-md-4">
                                <div class="item-feature text-center">
                                    <div class="head-feature">
                                        <span></span>
                                        <br>
                                        <div class="title-feature">
                                            <i class="fa fa-sun-o left-icon"></i>
                                            <i class="fa fa-umbrella right-icon"></i>
                                            <a ui-sref="meetings" style="color: #42A9D3 !important;">Meeting Planner</a>
                                        </div><span></span>
                                        <br>
                                        <span></span>
                                    </div>
                                    <div class="info-feature">
                                        <p>Si buscas organizar un evento corporativo en algún destino turístico, te podemos ayudar.</p> 
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 text-center">
                                <div class="item-feature text-center">
                                    <div class="head-feature">
                                        <span></span>
                                        <br>
                                        <div class="title-feature">
                                            <i class="fa fa-thumbs-o-up left-icon"></i>
                                            <i class="fa fa-heart right-icon"></i>
                                            <a ui-sref="index" style="color: #42A9D3 !important;">Plataforma para cotizar grupos en línea</a>
                                        </div>
                                        <br>
                                        <span></span>
                                    </div>
                                    <div class="info-feature">
                                        <p>Contamos con una de las plataformas en línea más eficientes para hacer cotizaciones de grupos.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 text-center">
                                <div class="item-feature text-center">
                                    <div class="head-feature">
                                        <span></span>
                                        <br>
                                        <div class="title-feature">
                                            <i class="fa fa-check right-icon"></i>
                                            <a ui-sref="travel_agency" style="color: #42A9D3 !important;">Asesor de viajes individuales</a>
                                        </div>
                                        <br>
                                        <span></span>
                                    </div>
                                    <div class="info-feature">
                                        <p>Puedes contactar con uno de nuestros planners para que te asesore en el viaje que estás planeando.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End content-->
                </div>   
                <!-- End content info - Features--> 

                <!-- End Promotion Boxes - Parallax Section -->
                <div class="content_info">
                    <!-- Parallax Background -->
                    <div class="bg_parallax image_11_parallax"></div>
                    <!-- Parallax Background -->

                    <!-- Content Parallax-->
                    <div class="opacy_bg_02 padding-bottom">
                        <!-- Title -->
                        <div class="container">
                            <div class="row">
                                <div class="titles">
                                    <h2>Hoteles populares en <span>México</span></h2>
                                    <i class="fa fa-money"></i>
                                    <hr class="tall">
                                </div>                    
                            </div>
                        </div>
                        <!-- End Title-->

                        <!-- content-->
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-md-3" ng-repeat="popHotel in popHotelsMex">
                                    <!-- promotion-box-->
                                    <div class="promotion-box">
                                        <div class="promotion-box-header">
                                            <img ng-src="{{(popHotel.fotoPrincipal!=null?popHotel.fotoPrincipal:popHotel.pictures[0])}}" alt="img" style="width: 222.5px; height: 222.5px;">
                                        </div>

                                        <div class="promotion-box-center {{'color-' + ($index + 1)}}">
                                            <h3 style="font-size: 1rem;">
                                                {{popHotel.name}}<br>
                                                <!-- span>{{popHotel.type + ', ' + popHotel.cityId + ', ' + popHotel.countryId}}</span -->
                                                <span style="font-size: 0.8rem;">{{popHotel.destName}}</span>
                                            </h3>
                                        </div>

                                        <div class="promotion-box-info">
                                            <p>{{(popHotel.description.length > 68) ? popHotel.description.substr(0,65) + '...' : popHotel.description}}</p>
                                            <a ui-sref="hotel_detail({searchId: popHotel.cityId, hotelId: popHotel.id})" class="btn btn-primary">Ver Detalles</a>
                                        </div>
                                    </div>
                                    <!-- End promotion-box-->
                                </div>
                            </div>
                        </div>
                        <!-- End content-->
                    </div>  
                    <!-- End Content Parallax--> 
                </div>   
                <!-- End Promotion Boxes - Parallax Section --> 

                <!-- End content - Slide Features-->
                <div class="content_info content_resalt">
                    <ul id="slide-features-2">
                        <li>
                            <!-- content-->
                            <div class="container">
                                <div class="row">
                                    <!-- Info Resalt - Info Services -->
                                    <div class="col-md-5">
                                        <div class="services-lines-info">
                                            <!-- h2>We Provide You An Ultimate Travel Experience</h2 -->
                                            <h1>¿Buscas planear un viaje empresarial?</h1>
                                            <p class="lead">
                                                <span class="line"></span>
                                            </p>

                                            <p>Convenciones, congresos, conferencias, meetings, capacitaciones, reuniones de trabajo, foros, viajes de incentivo, lo que sea que necesites.</p>
                                            <br>
                                            <p></p>
                                            <br>
                                            <a ui-sref="meetings" class="btn btn-primary">Más información</a>
                                        </div>
                                    </div> 

                                    <div class="col-md-7">
                                        <img src="img/services/Celebrity_Main_Dining_Room_plng_trp.jpg" class="img-responsive" alt="">
                                    </div>  
                                </div>
                            </div>
                            <!-- End content-->
                        </li>
                        <!-- Item Slide Features  -->
                        <li>
                            <div class="container">
                                <div class="row padding-top">
                                    <div class="col-md-6">
                                        <div class="img-hover">
                                            <div class="overlay"> <a href="img/services/Viajes_Empresariales_trd_wth_us.jpg" class="fancybox"></a></div>
                                            <img src="img/services/Viajes_Empresariales_trd_wth_us.jpg" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="services-lines-info">
                                            <!-- h2>Explore our latest tours </h2 -->
                                            <h1>¡Cotiza con nosotros!</h1>
                                            <p class="lead">
                                                <span class="line"></span>
                                            </p>

                                            <p>Encontramos el salón, centro de convenciones o auditorio, dentro y fuera de los hoteles, que se adapte a tus necesidades. Te ayudamos a conseguir hospedaje y transporte para todos los asistentes y a ambientar el lugar para conseguir que tu meeting sea exitoso.</p>
                                            <br>
                                            <a ui-sref="index" class="btn btn-primary">Más información</a>
                                        </div>
                                    </div>
                               </div> 
                               <!-- End Row  -->
                            </div> 
                            <!-- End Container  -->
                        </li>
                        <!-- End Item Slide Features  -->
                    </ul>
                </div>   
                <!-- End content - Slide Features--> 
                
                <!-- content info - testimonials-->
                <div class="content_info" ng-controller="BlogCtrl">
                    <!-- Parallax Background -->
                    <div style="
  margin: 0 auto;
  margin-left:350px;
  padding: 0;
  position: absolute;
  z-index: 0;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: 0 50%;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  background: url('{{latestPost.imagensrc?latestPost.imagensrc:'../img/slide/2.jpg'}}')"></div>
                    <!-- Parallax Background -->

                    <div class="opacy_bg_02">
                        <!-- Testimonial Propertie-->
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="info-testimonial">
                                        <!-- Testimonials Carousel -->
                                        <tstmnls-krsl reviews="homepageTestimonials"></tstmnls-krsl>
                                        <!-- End Testimonials Carousel -->
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="testimonial-info">
                                        <h2>{{latestPost.title}}</h2>
                                        <P style="background=transparent">{{latestPost.resume}}</P>
                                        <a href="/#/blog/{{latestPost.id}}" class="btn btn-primary">Más Informacíon</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Testimonial Propertie-->
                    </div>
                </div>
                <!-- End content info - testimonials-->

                <!-- Twitter Section -->
                <div class="section-twitter" style="padding: 0 0;">
                    <i class="fa fa-twitter icon-big" style="top: 0; font-size: 9rem;"></i>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h2>Nuestros <span class="text-resalt">twitts</span> recientes.</h2>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-6" style="height: 130px;overflow-x: hidden;overflow-y: scroll;">
                                    <div twitter-timeline="618424051304796160" auto-resize="true" style="width:520px;" css-url="css/twitter-timeline/twitter-timeline.css" data-tweet-limit="5">Cargando tweets...</div>
                                </div>
                                <div class="col-md-3"></div> 
                            </div>
                        </div>
                    </div>
                </div>  
                <!-- End Twitter Section -->  

                <!-- G+ Section ->
                <div class="section-twitter">
                    <i class="fa fa-twitter icon-big"></i>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h2>Our recents <span class="text-resalt">twitts</span>.</h2>
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-6" style="height: 380px;overflow-x: hidden;overflow-y: scroll;">
                                    <div class="gplus">Loading timeline...</div>
                                </div>
                                <div class="col-md-3">
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>  
                <!- End G+ Section -->  
            </section>
            <!-- End Content Central -->

            <!--Slider Function-->
            <script type="text/javascript">
                $(document).ready(function() {

                    //=================================== Carousel features  ==================================//
                    $("#slide-features-2").owlCarousel({
                        autoPlay: true,
                        items : 1,
                        navigation : true,
                        autoHeight : true,
                        slideSpeed : 400,
                        singleItem: true,
                        pagination : true
                    });

                    // Slider Function-->
                    $('.tp-banner').show().revolution({
                        dottedOverlay:"none",
                        delay:5000,
                        startwidth:1170,
                        startheight:925,
                        minHeight:500,
                        navigationType:"none",
                        navigationArrows:"solo",
                        navigationStyle:"preview1"
                    });
                    // End Slider Function-->

                    $('html, body').animate({scrollTop:0}, 500, 'linear');

                }); //ready
          </script>
          <!--End Slider Function-->
