
        <div ng-controller="HotelController">
            <!-- Section Title-->    
            <div class="section-title-01">
                <!-- Parallax Background -->
                <div class="bg_parallax image_{{imgBgAcronym}}_parallax"></div>
                <!-- Parallax Background -->

                <!-- Content Parallax-->
                <div class="opacy_bg_02">
                     <div class="container">
                        <h1>Resultados Búsqueda</h1>
                        <div class="crumbs">
                            <ul>
                                <li><a href="/#">Inicio</a></li>
                                <li>/</li>
                                <li>Resultados Búsqueda</li>                                       
                            </ul>    
                        </div>
                    </div>  
                </div>  
                <!-- End Content Parallax--> 
            </div>   
            <!-- End Section Title-->

            <!--Content Central -->
            <section class="content-central">
                <!-- Shadow Semiboxed -->
                <div class="semiboxshadow text-center">
                    <img src="img/img-theme/shp.png" class="img-responsive" alt="">
                </div>
                <!-- End Shadow Semiboxed -->


                <!-- content info - Vacations Destinatios-->
                <div class="content_info">
                    <!-- ChildView - Destination Review -->
                    <div ui-view></div>
                    <!-- End ChildView - Destination Review -->
                    
                    <div class="paddings-mini">
                        <div class="container">
                            <!-- Items Gallery filters-->
                            <div class="row portfolioContainer">
                                <!-- Item Gallery - No Results -->
                                <div class="col-xs-12 col-sm-6 col-md-12" ng-if="hotels.length && hotels.length<=0">
                                    <div class="info-gallery">
                                        <h3>
                                            No se encontraron registros.
                                        </h3>
                                    </div>
                                </div>
                                <!-- End Item Gallery - No Results -->
                                <!-- Item Gallery - Main First Results -->
                                <div class="col-xs-12 col-sm-6 {{$first?'col-md-8':'col-md-4'}}" ng-repeat="hotel in hotels" ng-click="selectResult(hotel)">
                                    <div class="img-hover">
                                        <img ng-src="{{(hotel.fotoPrincipal!=null?hotel.fotoPrincipal:hotel.pictures[0])}}" alt="" class="img-responsive" style="{{$first?'width: 748px;height: 231.422px;':'width: 360px;height: 231.422px;'}}">
                                    </div>

                                    <div class="info-gallery">
                                        <h3>
                                            {{(!$first && hotel.name.length > 37) ? hotel.name.substr(0,33) + '...' : hotel.name}}<br>
                                            <span>{{hotel.type + ', ' + hotel.cityId + ', ' + hotel.countryId}}</span>
                                        </h3>
                                        <hr class="separator">
                                        <p>{{($first) ? ((hotel.description.length > 228) ? hotel.description.substr(0,225) + '...' : hotel.description) : ((hotel.description.length > 94) ? hotel.description.substr(0,91) + '...' : hotel.description)}}</p>
                                        <ul class="starts">
                                            <li ng-repeat="i in hotel.starRatingRange track by $index"><a href="#"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                        <div class="content-btn" ng-click="selectResult(hotel)"><a ui-sref="hotel_detail({searchId: hotel.cityId, hotelId: hotel.id})" class="btn btn-primary">Ver Detalles</a></div>
                                    </div>
                                </div>
                                <!-- End Item Gallery - Main First Results -->
                                <!-- Item Gallery - More Results -->
                                <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="hotel in moreHotels" ng-click="selectResult(hotel)">
                                    <div class="img-hover">
                                        <img ng-src="{{(hotel.fotoPrincipal!=null?hotel.fotoPrincipal:hotel.pictures[0])}}" alt="" class="img-responsive" style="width: 262.5px;height: 163.922px;">
                                    </div>

                                    <div class="info-gallery">
                                        <h3>
                                            {{(hotel.name.length > 22) ? hotel.name.substr(0,19) + '...' : hotel.name}}<br>
                                            <span>{{hotel.type + ', ' + hotel.cityId + ', ' + hotel.countryId}}</span>
                                        </h3>
                                        <hr class="separator">
                                        <p>{{((hotel.description.length > 67) ? hotel.description.substr(0,64) + '...' : hotel.description)}}</p>
                                        <ul class="starts">
                                            <li ng-repeat="i in hotel.starRatingRange track by $index"><a href="#"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                        <div class="content-btn" ng-click="selectResult(hotel)"><a ui-sref="hotel_detail({searchId: hotel.cityId, hotelId: hotel.id})" class="btn btn-primary">Ver Detalles</a></div>
                                    </div>
                                </div>
                                <!-- End Item Gallery - More Results -->
                            </div>   
                            <!-- End Items Gallery filters-->       
                        </div>
                    </div>
                </div>   
                <!-- End content info - Vacations Destinatios-->


                <div class="row" ng-if="hotels.length && hotels.length>0">
                    <div class="col-md-offset-1 col-md-10 ">
                        <button ng-click="masResultados()" ng-hide="showMostrarMas" class="btn btn-success col-md-12">Más Resultados</button>
                        <img src="img/lblue.gif" style="width:30px;height:30px;" ng-show="showMostrarMas || false" class="ng-hide">
                    </div>
                </div>
            </section>
            <!-- End Content Central -->
        </div>

            <script type="text/javascript">

                //=================================== Ligbox  ===========================================//   
                $(document).ready(function() {
                    $(".fancybox").fancybox({
                        openEffect  : 'elastic',
                        closeEffect : 'elastic',

                        helpers : {
                            title : {
                                type : 'inside'
                            }
                        }
                    });
                }); //ready

            </script>
