
<div ng-controller="HotelController">
    <!-- Section Title-->
    <div class="section-title-01">
        <!-- Parallax Background -->
        <div class="bg_parallax image_{{valDest.imgBgAcronym}}_parallax"></div>
        <!-- Parallax Background -->

        <!-- Content Parallax-->
        <div class="opacy_bg_02">
            <div class="container">
                <h1>{{valDest.text}}</h1>
                <div class="crumbs">
                    <!-- ChildView - Destination Review -->
                    <div ui-view></div>
                    <!-- End ChildView - Destination Review -->
                </div>
            </div>
        </div>
        <!-- End Content Parallax-->
    </div>




    <!-- End Section Title-->

    <!--Content Central -->
    <section class="content-central" style="{{valDest.searchId == valDest.imgBgAcronym ? 'margin-top:-120px;' : ''}}">
        <br><br><br>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-xs-12 col-sm-6 col-md-12" ng-if="hotels.length<=0">
                    <div class="info-gallery">
                        <h3>
                            No se encontraron registros.
                        </h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12" ng-if="hotels.length==null">
                    <div class="info-gallery">
                        <h3>
                            Buscando. . .
                        </h3>
                    </div>
                </div>
                <!-- Item Gallery - Main First Results -->
                <div ng-if="hotels.length>0">
                    <div ng-repeat="hotel in hotels">

                        <div class="col-xs-12 col-sm-6 {{$first?'col-md-4':'col-md-4'}}"  ng-click="selectResult(hotel)">

                            <!-- AddOns - Inside Gallery

                            <div class="carbonad" ng-if="$index == 1">
                                <div class="carbonad-image">
                                    <a href="{{bannerAd.bannerUrl}}" target="_blank">
                                        <img width="130" height="130" border="0" ng-src="{{bannerAd.bannerAdImg}}" class="carbonad-image carbonad-img" style="max-width:130px;">
                                    </a>
                                </div>
                                <div class="carbonad-text">
                                    <a href="{{bannerAd.bannerUrl}}">{{bannerAd.bannerTxt}}</a>
                                </div>
                                <div class="carbonad-tag">ads via <a href="#">Yo Planner</a></div>
                            </div>
                             End AddOns - Inside Gallery -->

                            <div class="img-hover">
                                <img ng-src="{{(hotel.fotoPrincipal!=null?hotel.fotoPrincipal:hotel.pictures[0])}}" alt="" class="img-responsive" style="{{$first?'width: 100%;height: 225px;':'width: 100%;height: 225px;'}}">

                            </div>

                            <div class="info-gallery">
                                <h3 style="height:100px">
                                    {{(hotel.name.length > 31) ? hotel.name.substr(0,28) + '...':hotel.name}}<br>
                                    <!-- span>{{hotel.type + ', ' + hotel.cityId + ', ' + hotel.countryId}}</span -->
                                    <span style="white-space: normal">{{$selectedCity}}</span>
                                </h3>
                                <hr class="separator">
                                <p style="height:100px;text-align: justify;text-justify: inter-word;">{{(hotel.description.length > 91) ? hotel.description.substr(0,91) + '...' : hotel.description}}</p>

                                <ul class="starts">
                                    <li ng-repeat="i in hotel.starRatingRange track by $index"><a href="#"><i class="fa fa-star"></i></a></li>
                                </ul>
                                <div class="content-btn" ng-click="selectResult(hotel)">
                                    <a ui-sref="hotel_detail({searchId: hotel.cityId, hotelId: hotel.id})" class="btn btn-primary">Ver Detalles</a>
                                </div>
                                <div class="content-btn" ng-click="addSeleccion(hotel)" style="margin-top: 0.5em" ng-show="!hotel.inList">
                                  <a class="btn btn-primary">Agregar a Mi Selección</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Item Gallery - Main First Results -->

                <!-- Item Gallery - More Results -->
                <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="hotel in moreHotels" ng-click="selectResult(hotel)">
                    <div class="img-hover">
                        <img ng-src="{{(hotel.fotoPrincipal!=null?hotel.fotoPrincipal:hotel.pictures[0])}}" alt="" class="img-responsive" style="width: 100%;height: 150px;">
                    </div>

                    <div class="info-gallery">
                        <h3 style="height:100px;font-size: .85rem">
                            {{(hotel.name.length > 22) ? hotel.name.substr(0,19) + '...' : hotel.name}}<br>
                            <!-- <span>{{hotel.type + ', ' + hotel.cityId + ', ' + hotel.countryId}}</span> -->
                            <span style="white-space: normal;font-size: .7rem">{{$selectedCity}}</span>
                        </h3>
                        <hr class="separator">
                        <p style="height:80px;font-size: .7rem;">{{((hotel.description.length > 60) ? hotel.description.substr(0,60) + '...' : hotel.description)}}</p>
                        <ul class="starts">
                            <li ng-repeat="i in hotel.starRatingRange track by $index"><a href="#"><i class="fa fa-star"></i></a></li>
                        </ul>
                        <div class="content-btn" ng-click="selectResult(hotel)"><a ui-sref="hotel_detail({searchId: hotel.cityId, hotelId: hotel.id})" class="btn btn-primary">Ver Detalles</a></div>
                        <div class="content-btn" ng-click="addSeleccion(hotel)" style="margin-top: 0.5em" ng-show="!hotel.inList">
                          <a class="btn btn-primary">Agregar a Mi Selección</a>
                        </div>
                    </div>
                </div>
                <!-- End Item Gallery - More Results -->





            </div>

        </div>





        <div class="row" ng-if="hotels.length && hotels.length>0">

            <div class="col-md-4 col-md-offset-4">
                <button ng-click="masResultados()" ng-hide="showMostrarMas" class="btn btn-primary col-md-12" style="width:100%;">Más Resultados</button>
                <img src="img/lblue.gif" style="width:30px;height:30px;margin: 0px auto 0px 48%;" ng-show="showMostrarMas || false" class="ng-hide">
            </div>
        </div>
        <br><br><br>
    </section>
<!-- End Content Central -->
</div>
