
       
    <div id="mainContent" ng-controller="RFPController">

        <div id="resumen" class="cabin">
            <div id="rfp_view" style="display: none;text-align:left">

                <div >
                    <form ng-submit="validarDatosEvento()" class="cabin">
                    
                    <div class="titles">
                        <h2 ><span>Datos del Grupo</span></h2>
                    </div>
                    <table style="margin-left:auto;margin-right:auto;margin-top:-20px;">
                        <tr>
                            <td>Nombre</td>
                            <td><input id="rfp_nombre" type="text"
                                       placeholder="Nombre de tu evento" class="form-control"
                                       ng-model="rfp.nombre"></td>
                        </tr>
                        <tr>
                            <td>Fecha de Entrada</td>

                            <td>


                            <input id="rfp_fechaInicial"  type="text" required
                                       class="date-input-rfp form-control" placeholder="Selecciona..."

                                       ng-model="fechaInicialFor"  ng-change="muestraCuadritos();"></td>
                        </tr>
                        <tr>
                            <td>Fecha de Salida</td>
                            <td><input id="rfp_fechaFinal"  type="text" required
                                       class="date-input-rfp form-control" placeholder="Selecciona..."

                                       ng-model="fechaFinalFor"  ng-change="muestraCuadritos();"></td>
                        </tr>
                        <tr>
                            <td>Asistentes</td>
                            <td><input id="rfp.asistenciaEsperada" type="text" required
                                       placeholder="Participantes" class="form-control"
                                       ng-model="rfp.asistenciaEsperada"></td>

                        </tr>
                        <tr>
                            <td style="vertical-align:middle" ng-show="configuracionHabitacionesSencillas.length>0">Habitaciones Sencillas</td>
                            <td>
                                <div ng-repeat="day in configuracionHabitacionesSencillas" style="float:left">
                                        {{day.fecha | date:'dd/MM'}}<br/>
                                        <input type="text" class="form-control" ng-model="day.habitaciones" size="5">
                                   
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle" ng-show="configuracionHabitacionesDobles.length>0">Habitaciones Dobles</td>
                            <td>
                                <div ng-repeat="day in configuracionHabitacionesDobles" style="float:left">
                                    {{day.fecha | date:'dd/MM'}}<br>
                                    <input type="text" class="form-control" ng-model="day.habitaciones" size="5">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><br />Comentarios
                                Adicionales</td>
                        </tr>
                        <tr>
                            <td colspan="2"><textarea id="rfp.comentarios" cols="50" style="height:70px;"
                                                      placeholder="Preguntas, dudas, solicitudes especiales..."
                                                      ng-model="rfp.comentarios" ></textarea></td>
                        </tr>
                    </table>
                    <div>
                    <button type="submit"  class="btn btn-primary"  style="float:right;margin-right:25px;">Siguiente</button>
                    <div>

                        </form>
                </div>


            </div>
            <div id="salones_view" style="display: none;text-align:center;height:100%;" >
                <div href="javascrip:void(0)" >
                    <div class="titles"><h2 ><span>Eventos Programados</span></h2> </div>
                    <div style="float:right;margin-right:25px;margin-top:-50px;"> <button class="btn btn-primary" href="javascript:;" ng-click="agregarEventoSalon();">Agregar Evento</button></div>
                    </div> 


                    <div class="clear"/>
                    <br>
                    
                    <div id="accordion-container" ng-show="rfp.salones.length>0">
                        <div id="newSalon" style="width: 750px;" ng-repeat="currentSalon in rfp.salones">
                           
                                <a href="javascript:void(0)" ng-click="eliminarSalon(currentSalon)" style="float: right;">Eliminar&nbsp;&nbsp;&nbsp;</a>
                                <a href="javascript:void(0)" ng-click="clonarSalon(currentSalon)" style="float: right;">Clonar&nbsp;&nbsp;&nbsp;</a>
                                <h2 class="accordion-header">Nuevo Evento</h2>
                            
                            <div class="accordion-content">
                            <section id="rfp_salones">
                            <br>
                            <div class="row">
                                <div style="float:left;margin-left:20px;"><label>Nombre del Evento</label><br><input type="text" class="form-control"
                                           ng-model="currentSalon.nombreEvento"
                                           onkeyup="$(this).closest('.accordion-content').prev().html(this.value);">
                                </div>
                                <div style="float:left;padding-left:10px;">
                                    <label>No.Participantes</label><br>
                                    <input type="text" class="form-control"
                                            ng-model="currentSalon.asistentes" size="5">
                                </div>
                                <div style="float:left;padding-left:10px;">
                                    <label >Fecha</label><br>
                                    <input id="rfp_salon_fecha{{$index}}" type="text" 
                                           type="text" class="datepickerEvt{{$index}} form-control"
                                           ng-model="currentSalon.fechaStr" size="10">
                                </div>
                                <!-- <td><div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
        <input type="text" class="form-control" value="13:14" size="4" >
        <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
        </span>
        </div>
        </td> -->
                                <div style="float:left;padding-left:10px;">
                                    <label >Hora de Inicio</label><br>
                                    <input type="text"  classbtn btn-primary="rfp_salon_horaInicio{{$index}} form-control" size="6"
                                           ng-model="currentSalon.horaInicio" />
                                </div>

                                <div style="float:left;padding-left:10px;">
                                    <label >Hora de Fin</label><br>
                                    <input type="text" class="rfp_salon_horaFin{{$index}} form-control"
                                            size="6"
                                           ng-model="currentSalon.horaFin" />
                                </div>
                            </div>
                            <br>
                            <div class="row">
                         <div style="float:left;margin-left:20px;"><label>Tipo de Evento</label><br>
                             <select id="selectConfigTipo{{$index}}" name="selectConfigTipo" class="selectConfigTipo{{$index}} form-control"
                                    style="width: 200px; font-weight: bolder;"
                                    ng-model="currentSalon.tipoEvento">
                                <option value="1">Desayuno</option>
                                <option value="2">Comida</option>
                                <option value="3">Cena</option>
                                <option value="4">Cocktail</option>
                                <option value="5">Sesión</option>
                                <option value="6">Breakout</option>
                                <option value="7">Oficina</option>
                                <option value="8">Bodega</option>
                                <option value="9">Otro</option>
                            </select>
                        </div>
                        <div style="float:left;padding-left:10px;"><label>Montaje del Evento</label><br>
                            <select id="selectConfigSalon{{$index}}" name="selectConfigSalon" class="selectConfigSalon{{$index}} form-control"
                    style="width: 200px; font-weight: bolder;"
                    ng-model="currentSalon.tipoSalon">
                                <option value="1"
                                        data-left="<img style='width:25px;height:25px;margin-top:0px;' src='../img/icon/auditorio.png'>">&nbsp;&nbsp;&nbsp;Auditorios</option>
                                <option value="2"
                                        data-left="<img style='width:25px;height:25px;margin-top:0px;' src='../img/icon/banquete.png'>">&nbsp;&nbsp;&nbsp;Banquete</option>
                                <option value="3"
                                        data-left="<img style='width:25px;height:25px;margin-top:0px;' src='../img/icon/coctel.png'>">&nbsp;&nbsp;&nbsp;Coctel</option>
                                <option value="4"
                                        data-left="<img style='width:25px;height:25px;margin-top:0px;' src='../img/icon/escuela.png'>">&nbsp;&nbsp;&nbsp;Escuela</option>
                                <option value="5"
                                        data-left="<img style='width:25px;height:25px;margin-top:0px;' src='../img/icon/herradura.png'>">&nbsp;&nbsp;&nbsp;Herradura</option>
                                <option value="6"
                                        data-left="<img style='width:25px;height:25px;margin-top:0px;' src='../img/icon/imperial.png'>">&nbsp;&nbsp;&nbsp;Imperial</option>
                                <option value="7"
                                        data-left="<img style='width:25px;height:25px;margin-top:0px;' src='../img/icon/mesaredonda.png'>">&nbsp;&nbsp;&nbsp;Mesas
                                    Redondas</option>
                                <option value="8"
                                        data-le;margin-left:20px;ft="<img style='width:25px;height:25px;margin-top:0px;' src='../img/icon/mediaslunas.png'>">&nbsp;&nbsp;&nbsp;Medias
                                    Lunas</option>
                                <option value="9"
                                        data-left="<img style='width:25px;height:25px;margin-top:0px;' src='../img/icon/otro.png'>">&nbsp;&nbsp;&nbsp;Otro</option>


                            </select>
                        </div>
                        </div>
                        <br>
                    <div class="row">
                        <label>Comentarios Adicionales</label><br />
                        <textarea id="rfp_salon_comadicionales" cols="70" style="height:70px;"
                            ng-model="currentSalon.comentarios"></textarea>
                    </div>
                </section>
            </div>
                            </div>
                         </div>

                <br>
                <div style="height:60%" ng-show="rfp.salones==null || rfp.salones.length==0"></div>
                <div style="float:left;margin-left:25px;"><button onclick=" $.fancybox.prev();"  class="btn btn-primary">Regresar</button>
                </div>
                    
                <div style="float:right;margin-right:25px;">
                    <button  class="btn btn-primary" style="float:right;margin-right:25px;"
                                                                          ng-click="validarDatosSalones();">Siguiente</button> </div>
                
                

            </div>

            <!--div id="rfp_seleccion" style="display: none; text-align: center;">
                <h1>Mi selección</h1>
                <table >
                    <tr ng-repeat="selh in hotelesSeleccionados">
                        <td><img src="http://media.staticontent.com/media/pictures/{{selh.pictures[0]}}" width="80px"
                                 height="60px" /></td>
                        <td>{{selh.name}}</td>
                        <td><img src="../img/delete.png" width="25px" height="25px" ng-click="deleteSelection(selh)"/></td>
                    </tr>

                </table>
                <br /> <br /> 
               
                <button style="float:left;margin-left:25px;" onclick=" $.fancybox.prev();">Regresar</button>
                <button  style="float:right;margin-right:25px;" onclick=" $.fancybox.next();">Siguiente</button>

            </div-->

            <div id="datos_contacto" style="display: none; text-align: left;">
                <div class="titles">
                    <h2><span>Datos del Cliente</span></h2>
                </div>
                <form ng-submit="rfp_create()" style="margin-top:-20px;">
                    <table style="margin: 0px auto">
                        <tr>
                            <td><label>Nombre Completo <span class="red">*</span></label></td>
                            <td><input type="text" placeholder="Nombre con apellidos" required
                                       class="form-control" ng-model="rfp.nombreCliente"></td>
                        </tr>
                        <tr>
                            <td><label>Email <span class="red">*</span></label></td>
                            <td><input type="email" ng-model="rfp.email" required
                                       class="form-control" placeholder="alguien@example.com"></td>
                        </tr>
                        <tr>
                            <td><label>Telefono <span class="red">*</span></label></td>
                            <td><input type="text" required
                                       ng-model="rfp.telefonoContacto"
                                       class="form-control" placeholder="Ej. 04455565811"></td>
                        </tr>
                        <tr>
                            <td><label>Empresa <span class="red">*</span></label></td>
                            <td><input type="text" ng-model="rfp.empresa" required
                                       class="form-control" placeholder="Empresa donde laboras"></td>
                        </tr>
                        <tr>
                            <td><label>Cargo <span class="red"></span></label></td>
                            <td><input type="text" ng-model="rfp.puesto"
                                       class="form-control" placeholder="Cargo actual"></td>
                        </tr>
                        <tr>
                            <td><label>País:</label></td>
                            <td><input type="text"   placeholder="Ej. Mexico"
                                       class="form-control" ng-model="rfp.paisText" /></td>
                        </tr>
                        <tr>
                            <td><label>Estado:</label></td>
                            <td><input class="form-control" type="text" ng-model="rfp.estadoText" placeholder="Ej. Distrito Federal"/>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Ciudad:</label></td>
                            <td><input class="form-control" type="text" ng-model="rfp.ciudadText" placeholder="Ej. Miguel Hidalgo"/>
                            </td>
                        </tr>
                    </table>
                    <br /> <br /> <br /> <button onclick=" $.fancybox.prev();" class="btn btn-primary" style="float:left;margin-left:25px;">Regresar</button>
                    <button class="btn btn-primary" type="submit" style="float:right;margin-right:25px;">Solicitar Cotización</button> 
                    
                </form>
            </div>
        </div>
        <div id="gracias" style="display: none;text-align:center;">
            <img src="img/HotelesYoPlanner.png" ></img>
            <br />
            <h2>Solicitud enviada correctamente con el folio <span id="folioRFP"
                                            style="font-size: xx-large; color: navy;">{{folioFinal.substring(folioFinal.length-6)}}</span> consérvalo para futuras referencias. <br>Hemos enviado una notificación a tu correo electrónico.</h2>
            <br />
            
            <div style="text-align:center">
            <button onclick="window.location='/'" class="btn btn-primary" style="text-align:center;">Aceptar</button>
                </div>
        </div>

        <div id="rfp_resumen" style="display: none;"></div>



    </div>

    <div id="templates" style="position: absolute; visibility: hidden;">

        
   
       
        <!-- <div id="tmpSlcServicios">
    <select id="selectServicios" name="selectServicios" class="selectServicios" multiple style="width: 400px;" onchange="currentSalon.servicios  = armaServicios($(this).val());">
    <option value="1" data-left="<img style='width:25px;height:25px;margin-top:-15px;' src='../img/icon/otro.png'>" >&nbsp;&nbsp;&nbsp;Alimentos y Bebidas</option>
    <option value="2" data-left="<img style='width:25px;height:25px;margin-top:-15px;' src='../img/icon/otro.png'>" >&nbsp;&nbsp;&nbsp;Aire Acondicionado</option>
    <option value="3" data-left="<img style='width:25px;height:25px;margin-top:-15px;' src='../img/icon/otro.png'>" >&nbsp;&nbsp;&nbsp;Café</option>
    <option value="4" data-left="<img style='width:25px;height:25px;margin-top:-15px;' src='../img/icon/otro.png'>" >&nbsp;&nbsp;&nbsp;Cañón</option>
    <option value="5" data-left="<img style='width:25px;height:25px;margin-top:-15px;' src='../img/icon/otro.png'>" >&nbsp;&nbsp;&nbsp;Equipo de Proyección</option>
    <!-- <option value="6" data-left="<img style='width:25px;height:25px;margin-top:-15px;' src='../img/icon/otro.png'>" >&nbsp;&nbsp;&nbsp;Equipo de Traducción</option>
    <option value="7" data-left="<img style='width:25px;height:25px;margin-top:-15px;' src='../img/icon/otro.png'>" >&nbsp;&nbsp;&nbsp;Internet</option>
    <option value="8" data-left="<img style='width:25px;height:25px;margin-top:-15px;' src='../img/icon/otro.png'>" >&nbsp;&nbsp;&nbsp;Microfono</option>
    <option value="9" data-left="<img style='width:25px;height:25px;margin-top:-15px;' src='../img/icon/otro.png'>" >&nbsp;&nbsp;&nbsp;Pantallas / TV</option>
    <option value="10" data-left="<img style='width:25px;height:25px;margin-top:-15px;' src='../img/icon/otro.png'>" >&nbsp;&nbsp;&nbsp;Podio</option>
    <option value="11" data-left="<img style='width:25px;height:25px;margin-top:-15px;' src='../img/icon/otro.png'>" >&nbsp;&nbsp;&nbsp;Rotafolio</option>
    <option value="12" data-left="<img style='width:25px;height:25px;margin-top:-15px;' src='../img/icon/otro.png'>" >&nbsp;&nbsp;&nbsp;Seguridad</option>
    <option value="13" data-left="<img style='width:25px;height:25px;margin-top:-15px;' src='../img/icon/otro.png'>" >&nbsp;&nbsp;&nbsp;Sistema de Sonido</option>
    <option value="14" data-left="<img style='width:25px;height:25px;margin-top:-15px;' src='../img/icon/otro.png'>" >&nbsp;&nbsp;&nbsp;Teleconferencia</option>
    <option value="15" data-left="<img style='width:25px;height:25px;margin-top:-15px;' src='../img/icon/otro.png'>" >&nbsp;&nbsp;&nbsp;Videoconferencia</option>

    </select>
    </div> -->

    </div>


    </div>