@font-face {
    font-family: cabin;
    src: url(fonts/cabin/Cabin-Regular.otf);
}

.red{
	color: red;
}

#shadow {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	filter: alpha(opacity=60);
	z-index: 99;
}

.resultados{
    
    width: 337px;
    height: 344px;
    float: left;   
    padding-left: 10px;
    position: relative;
}
.resultados img{
    
    width: 317px;
    height: 324px;
    position:absolute;
    left:0;
    top:0;   
}
.resultados h2  {
    z-index:100;
    position:absolute;    
    color:white;
    font-size:18px;
    font-weight:bold;
    
}
.resultados h2 span{
   color: white; 
   font: bold 18px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
    padding-top: 5px;   
    
}

.resultadosBig{
    
    width: 674px;
    height: 344px;
    float: left;   
    padding-left: 10px;
    position: relative;
}
.resultadosBig img{
    
    width: 654px;
    height: 324px;
    position:absolute;
    left:0;
    top:0;   
}
.resultadosBig h2  {
    z-index:100;
    position:absolute;    
    color:white;
    font-size:18px;
    font-weight:bold;
    
}
.resultadosBig h2 span{
   color: white; 
   font: bold 18px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;    
   padding-top: 5px; 
    
}
.flexslider {
    width: 100%;
    text-align: center;
}

.flexslider .slides img {
    width: 800px;
    height: 400px;
}

.autocomplete{
    
    
}
.autocomplete ul{
    top: 45px;
    color: gray;
    border: 0px;
    cursor: hand;
}
.autocomplete ul li{
    list-style-type:none;
  border: 0px solid black;
}

.hotelDetail{
     text-align: left;  
}
.hotelDetail h1{
    font-weight: bold;
    font-size: 50px;
    font-style: normal;
    
}
.hotelDetail p{
    font-weight: bold;
    font-size: 16px;
    font-style: normal;
    text-align: justify;
}
.hotelDetail hr{
    height: 15px;
  
}
.detservicios li{
    font-weight: bold;
    float: left;
    width: 24%;
  
}



body{
    margin:0px;
}
.header-contl {
    width:50%;
    position:fixed;
    top:90%;
    text-align: left;
    left:10px;
    z-index: 99999;
}
.header-contr {
    width:50%;
    position:fixed;
    top:90%;
    text-align: right;
    right:0px;
    z-index: 99999;
}
.hand{
cursor: pointer;
cursor: hand;
}

.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#3c763d}
.alert-success hr{border-top-color:#c9e2b3} 
.alert-success .alert-link{color:#2b542c}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#31708f}
.alert-info hr{border-top-color:#a6e1ec}
.alert-info .alert-link{color:#245269}
.alert-warning{background-color:#fcf8e3;border-color:#faebcc;color:#8a6d3b}
.alert-warning hr{border-top-color:#f7e1b5}
.alert-warning .alert-link{color:#66512c}
.alert-danger{background-color:#f2dede;border-color:#ebccd1;color:#a94442}
.alert-danger hr{border-top-color:#e4b9c0}
.alert-danger .alert-link{color:#843534}

.label{
    font-weight: bolder;
}

.justify{
    text-align: left;
}

.bolder{
    font-weight: bolder;
    font-family: cabin;
    font-size: 15px;
}

.cabin{
    font-family: cabin;
}
.center{
    text-align: center;
}

