<p>
  Gracias por unirte a nuestra comunidad de expertos en grupos y convenciones.
</p>
<p>
  A continuación, enviamos tus datos de acceso
</p>
<p>
  <span><strong>Usuario:</strong> <%= user.username %></span><br>
  <span><strong>Contraseña:</strong> <%= noCryptPass %></span>
</p>
<p>
  Actualiza tu información en <a href="http://admin.yoplanner.com">http://admin.yoplanner.com</a> (aquí podrás llenar los datos de tu perfil que es necesario para interactuar con los demás)<br>
  Empieza a utilizar la plataforma <a href="http://rfp.yoplanner.com">http://rfp.yoplanner.com</a>
</p>
<p>
  <strong>El servicio está en una etapa de prueba por lo que no todos los proveedores están actualizados al 100% El equipo de Yo Planner está trabajando en conjunto con los proveedores para tener toda la información al día.</strong>
</p>
<p>
  Cualquier sugerencia es bienvenida y la tomaremos en cuenta para mejoras.
</p>
<p>
  Para mayor información y precios del módulo premium contactar a <a href="mailto:daniel.muller@yoplanner.com">daniel.muller@yoplanner.com</a>
</p>
<p>
  Saludos,
</p>
<p style="text-align: center">
  <img src="http://i.imgur.com/Rl67GdX.png" alt="Logo Yoplanner" />
</p>
