module.exports.constants = {
    
    URL_PICTURES : "http://media.staticontent.com/media/pictures/",
    CUSTOM_PICTURES : "http://admin.yoplanner.com/api/recinto/images/",
    LOCAL_FILE_PICTURES : "./tmp/uploads/"
}