.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.027832;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.988281;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.330566;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.026855;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.691406;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.386719;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls13{letter-spacing:-0.572000px;}
.lsb{letter-spacing:-0.488000px;}
.ls15{letter-spacing:-0.432000px;}
.ls2{letter-spacing:-0.384000px;}
.ls12{letter-spacing:-0.288000px;}
.ls9{letter-spacing:-0.232400px;}
.ls4{letter-spacing:-0.192000px;}
.ls7{letter-spacing:-0.149600px;}
.lsf{letter-spacing:-0.090400px;}
.ls5{letter-spacing:-0.075200px;}
.ls0{letter-spacing:-0.019200px;}
.ls6{letter-spacing:-0.009600px;}
.ls1{letter-spacing:0.000000px;}
.lse{letter-spacing:0.030720px;}
.ls3{letter-spacing:0.096000px;}
.lsd{letter-spacing:0.146000px;}
.ls16{letter-spacing:0.172800px;}
.ls14{letter-spacing:0.240000px;}
.ls11{letter-spacing:0.288000px;}
.lsa{letter-spacing:1.208000px;}
.ls10{letter-spacing:11.280000px;}
.ls8{letter-spacing:11.760000px;}
.lsc{letter-spacing:13.200000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._a{margin-left:-2.018240px;}
._1{margin-left:-1.003840px;}
._3{width:1.225280px;}
._16{width:3.255040px;}
._5{width:4.610880px;}
._1c{width:6.344000px;}
._15{width:8.278080px;}
._17{width:10.080320px;}
._f{width:11.227200px;}
._12{width:13.302720px;}
._13{width:17.213760px;}
._14{width:18.717120px;}
._8{width:19.913280px;}
._9{width:21.068480px;}
._c{width:23.096960px;}
._b{width:24.459520px;}
._6{width:28.087584px;}
._7{width:29.118976px;}
._10{width:35.568960px;}
._11{width:36.653440px;}
._e{width:40.829760px;}
._2{width:45.299520px;}
._4{width:46.327680px;}
._d{width:47.330880px;}
._1d{width:48.392000px;}
._0{width:52.920000px;}
._1a{width:57.504000px;}
._18{width:98.984000px;}
._19{width:100.176000px;}
._1b{width:128.064000px;}
.fc2{color:rgb(109,96,69);}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:42.240000px;}
.fs0{font-size:44.160000px;}
.fs1{font-size:44.256000px;}
.fs2{font-size:48.000000px;}
.fs3{font-size:72.000000px;}
.fs4{font-size:80.160000px;}
.y0{bottom:0.000000px;}
.y31{bottom:44.016000px;}
.y30{bottom:68.400000px;}
.y2e{bottom:86.928000px;}
.y2f{bottom:92.040000px;}
.y2d{bottom:117.530000px;}
.y1f{bottom:118.680000px;}
.y1e{bottom:131.760000px;}
.y1d{bottom:144.960000px;}
.y2c{bottom:145.870000px;}
.y1c{bottom:158.160000px;}
.y2b{bottom:159.910000px;}
.y1b{bottom:171.360000px;}
.y2a{bottom:174.310000px;}
.y1a{bottom:184.580000px;}
.y29{bottom:188.710000px;}
.y19{bottom:197.780000px;}
.y18{bottom:210.980000px;}
.y28{bottom:217.150000px;}
.y17{bottom:224.180000px;}
.y27{bottom:231.550000px;}
.y16{bottom:237.500000px;}
.y26{bottom:245.950000px;}
.y15{bottom:250.580000px;}
.y25{bottom:260.350000px;}
.y14{bottom:263.780000px;}
.y24{bottom:274.630000px;}
.y13{bottom:276.980000px;}
.y12{bottom:290.180000px;}
.y23{bottom:303.100000px;}
.y11{bottom:303.380000px;}
.y10{bottom:316.580000px;}
.y22{bottom:317.500000px;}
.yf{bottom:329.780000px;}
.y21{bottom:331.900000px;}
.ye{bottom:343.010000px;}
.y20{bottom:346.300000px;}
.yd{bottom:356.210000px;}
.yc{bottom:369.530000px;}
.yb{bottom:382.610000px;}
.ya{bottom:395.810000px;}
.y9{bottom:409.010000px;}
.y8{bottom:422.210000px;}
.y7{bottom:435.410000px;}
.y6{bottom:448.610000px;}
.y5{bottom:461.810000px;}
.y4{bottom:475.010000px;}
.y3{bottom:488.230000px;}
.y2{bottom:501.430000px;}
.y1{bottom:514.630000px;}
.h7{height:32.742188px;}
.h2{height:34.456875px;}
.h3{height:34.531781px;}
.h1{height:36.203437px;}
.h6{height:37.453125px;}
.h5{height:39.351562px;}
.h4{height:44.418750px;}
.h9{height:59.027344px;}
.ha{height:65.717109px;}
.h8{height:72.421875px;}
.h0{height:720.000000px;}
.w0{width:540.000000px;}
.x0{left:0.000000px;}
.x4{left:17.136000px;}
.x2{left:36.864000px;}
.x5{left:47.856000px;}
.x3{left:72.864000px;}
.x1{left:237.550000px;}
.x6{left:430.390000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls13{letter-spacing:-0.762667pt;}
.lsb{letter-spacing:-0.650667pt;}
.ls15{letter-spacing:-0.576000pt;}
.ls2{letter-spacing:-0.512000pt;}
.ls12{letter-spacing:-0.384000pt;}
.ls9{letter-spacing:-0.309867pt;}
.ls4{letter-spacing:-0.256000pt;}
.ls7{letter-spacing:-0.199467pt;}
.lsf{letter-spacing:-0.120533pt;}
.ls5{letter-spacing:-0.100267pt;}
.ls0{letter-spacing:-0.025600pt;}
.ls6{letter-spacing:-0.012800pt;}
.ls1{letter-spacing:0.000000pt;}
.lse{letter-spacing:0.040960pt;}
.ls3{letter-spacing:0.128000pt;}
.lsd{letter-spacing:0.194667pt;}
.ls16{letter-spacing:0.230400pt;}
.ls14{letter-spacing:0.320000pt;}
.ls11{letter-spacing:0.384000pt;}
.lsa{letter-spacing:1.610667pt;}
.ls10{letter-spacing:15.040000pt;}
.ls8{letter-spacing:15.680000pt;}
.lsc{letter-spacing:17.600000pt;}
.ws0{word-spacing:0.000000pt;}
._a{margin-left:-2.690987pt;}
._1{margin-left:-1.338453pt;}
._3{width:1.633707pt;}
._16{width:4.340053pt;}
._5{width:6.147840pt;}
._1c{width:8.458667pt;}
._15{width:11.037440pt;}
._17{width:13.440427pt;}
._f{width:14.969600pt;}
._12{width:17.736960pt;}
._13{width:22.951680pt;}
._14{width:24.956160pt;}
._8{width:26.551040pt;}
._9{width:28.091307pt;}
._c{width:30.795947pt;}
._b{width:32.612693pt;}
._6{width:37.450112pt;}
._7{width:38.825301pt;}
._10{width:47.425280pt;}
._11{width:48.871253pt;}
._e{width:54.439680pt;}
._2{width:60.399360pt;}
._4{width:61.770240pt;}
._d{width:63.107840pt;}
._1d{width:64.522667pt;}
._0{width:70.560000pt;}
._1a{width:76.672000pt;}
._18{width:131.978667pt;}
._19{width:133.568000pt;}
._1b{width:170.752000pt;}
.fs5{font-size:56.320000pt;}
.fs0{font-size:58.880000pt;}
.fs1{font-size:59.008000pt;}
.fs2{font-size:64.000000pt;}
.fs3{font-size:96.000000pt;}
.fs4{font-size:106.880000pt;}
.y0{bottom:0.000000pt;}
.y31{bottom:58.688000pt;}
.y30{bottom:91.200000pt;}
.y2e{bottom:115.904000pt;}
.y2f{bottom:122.720000pt;}
.y2d{bottom:156.706667pt;}
.y1f{bottom:158.240000pt;}
.y1e{bottom:175.680000pt;}
.y1d{bottom:193.280000pt;}
.y2c{bottom:194.493333pt;}
.y1c{bottom:210.880000pt;}
.y2b{bottom:213.213333pt;}
.y1b{bottom:228.480000pt;}
.y2a{bottom:232.413333pt;}
.y1a{bottom:246.106667pt;}
.y29{bottom:251.613333pt;}
.y19{bottom:263.706667pt;}
.y18{bottom:281.306667pt;}
.y28{bottom:289.533333pt;}
.y17{bottom:298.906667pt;}
.y27{bottom:308.733333pt;}
.y16{bottom:316.666667pt;}
.y26{bottom:327.933333pt;}
.y15{bottom:334.106667pt;}
.y25{bottom:347.133333pt;}
.y14{bottom:351.706667pt;}
.y24{bottom:366.173333pt;}
.y13{bottom:369.306667pt;}
.y12{bottom:386.906667pt;}
.y23{bottom:404.133333pt;}
.y11{bottom:404.506667pt;}
.y10{bottom:422.106667pt;}
.y22{bottom:423.333333pt;}
.yf{bottom:439.706667pt;}
.y21{bottom:442.533333pt;}
.ye{bottom:457.346667pt;}
.y20{bottom:461.733333pt;}
.yd{bottom:474.946667pt;}
.yc{bottom:492.706667pt;}
.yb{bottom:510.146667pt;}
.ya{bottom:527.746667pt;}
.y9{bottom:545.346667pt;}
.y8{bottom:562.946667pt;}
.y7{bottom:580.546667pt;}
.y6{bottom:598.146667pt;}
.y5{bottom:615.746667pt;}
.y4{bottom:633.346667pt;}
.y3{bottom:650.973333pt;}
.y2{bottom:668.573333pt;}
.y1{bottom:686.173333pt;}
.h7{height:43.656250pt;}
.h2{height:45.942500pt;}
.h3{height:46.042375pt;}
.h1{height:48.271250pt;}
.h6{height:49.937500pt;}
.h5{height:52.468750pt;}
.h4{height:59.225000pt;}
.h9{height:78.703125pt;}
.ha{height:87.622812pt;}
.h8{height:96.562500pt;}
.h0{height:960.000000pt;}
.w0{width:720.000000pt;}
.x0{left:0.000000pt;}
.x4{left:22.848000pt;}
.x2{left:49.152000pt;}
.x5{left:63.808000pt;}
.x3{left:97.152000pt;}
.x1{left:316.733333pt;}
.x6{left:573.853333pt;}
}
